@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">

            <audio controls autoplay>
                Your browser does not support the audio element.
                <source src="/Assets/Music/Myth.wav" />
            </audio>

            @Body
        </article>
    </main>
</div>
