@page "/fetchdata"

@using Homestead.Shared
@using Microsoft.AspNetCore.SignalR.Client

@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="form-group">
    <label>
        Message:
        <input @bind="_messageInput" size="50" />
    </label>
</div>

<button @onclick="DrawAsync">Draw</button>

@foreach (var msg in _messages)
{
    <div>
        @msg
    </div>
}

@code {
    private HubConnection? hubConnection;
    private List<string> _messages = new();
    private string _messageInput = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<int>("RecieveDrawNotification", (message) =>
        {
            var encodedMsg = $"{message}";
            _messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();

        StateHasChanged();
    }

    private async Task DrawAsync() 
    {
        await hubConnection.SendAsync("Draw", 4);
    }

}
