@using Homestead.Client.ViewModels
@using Homestead.Shared
@inject LobbyVm Lobby;


<div class="deck-pile @(CanDraw ? "selected" : "")" @onclick="click">
    <img class="card-image" src="/Assets/Images/cards/blank.png" />
    <div class="card-text">
        Draw
    </div>
</div>
@code {
    [Parameter]
    public bool CanDraw { get; set; }

    private void click()
    {
        if (Lobby.Board.CanDrawFromDeck)
        {
            Lobby.Board.DrawFromDeck();
        }
    }
}
