@using Homestead.Client.ViewModels
@using Homestead.Shared
@inject LobbyVm Lobby;


<div class="hand-card @(CanDraw ? "selected" : "")" @onclick="click" 
        style="width:100px; height: 120px;">
        @Lobby.Board.CanDrawFromDeck
   <div class="card-image">
   </div>
   <div class="card-text">
       Deck
   </div>
</div>
@code {
    [Parameter]
    public bool CanDraw { get; set; }

    private void click()
    {
        if (Lobby.Board.CanDrawFromDeck)
        {
            Lobby.Board.DrawFromDeck();
        }
    }
}
