@using Homestead.Client.ViewModels
@using Homestead.Shared
@inject LobbyVm Lobby;


<div class="discard-pile @(CanDraw ? "selected" : "")" @onclick="click">
    @if (Card == null)
    {
        <img class="card-image" src="/Assets/Images/cards/blank.png" />
        <div class="card-text">
            Discard
        </div>
    }
    else
    {
        <img class="card-image" src="@Card.ImageUrl" />
        <div class="card-text">
            @(Card.CardInfo.Name)
        </div>
    }
</div>
@code {
    [Parameter]
    public CardVm Card { get; set; } = null!;
    [Parameter]
    public bool CanDraw { get; set; }

    private void click()
    {
        if (Lobby.Board.CanDrawFromDiscard)
        {
            Lobby.Board.DrawFromDiscard();
        }
    }
}
