@using Homestead.Client.ViewModels
@using Homestead.Shared
@inject LobbyVm Lobby;


<div class="hand-card  @(CanDraw ? "selected" : "")" @onclick="click">
    @if (Card == null)
    {
        <div class="card-image" style="background-color: cadetblue;">
        </div>
        <div class="card-text">
            None
        </div>
    }
    else
    {
        <div class="card-image" style="background-image: url(@Card.ImageUrl)">
        </div>
        <div class="card-text">
            @(Card.CardInfo.Name)
        </div>
    }
</div>
@code {
    [Parameter]
    public CardVm Card { get; set; } = null!;
    [Parameter]
    public bool CanDraw { get; set; }

    private void click()
    {
        if(Lobby.Board.CanDrawFromDiscard){
            Lobby.Board.DrawFromDiscard();
        }
    }
}
