
<div class="map">
    <div class="row gx-1 mb-1">
        <!-- Player 2 -->
        <div class="col">
                <PlayerHomestead />
        </div>
        <!-- Player 3 -->
        <div class="col">
            <PlayerHomestead />
        </div>
        <!-- Player 4 -->
        <div class="col">
            <PlayerHomestead />
        </div>
    </div>

    <!-- Player 1 (YOU) -->
    <div class="col">
        <PlayerHomestead />
    </div>
</div>

<PlayerHand/>


@code {
    //protected override async Task OnInitializedAsync()
    //{ }
}
