
<div class="map">
    <div class="row gx-1 mb-1">
        <div class="col">
                <PlayerHomestead />
        </div>
        <div class="col">
            <PlayerHomestead />
        </div>

        <div class="col">
            <PlayerHomestead />
        </div>
    </div>

    <div class="col">
        <PlayerHomestead />
    </div>
</div>

<PlayerHand/>


@code {
    //protected override async Task OnInitializedAsync()
    //{ }
}
