@using Homestead.Shared
@using Microsoft.AspNetCore.SignalR.Client

<div class="map">
    <div class="row gx-1 mb-1">
        @foreach(var opponent in Opponents)
        {
            <div class="col">
                <PlayerHomestead Player="@opponent"/>
        </div>
        }       
    </div>

    <div class="col">
        <PlayerHomestead Player="CurrentPlayer"/>
    </div>
</div>

<PlayerHand HandList="@CurrentPlayer.Hand"/>


@code {
    private HubConnection? hubConnection;


    public Game GameState { get; set; } = new Game();

    //who we are (for testing purposes)
    //this is just until we get local storage
    public int CurrentPlayerId = 1;

    public List<Player> Opponents { get => GameState.Players.Where(x => x.PlayerNumber != CurrentPlayerId).ToList(); }
    public Player CurrentPlayer { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        //get current player hand information
        GetCurrentPlayerHand();
        await base.OnInitializedAsync();
    }

    public void GetCurrentPlayerHand()
    {
        CurrentPlayer = GameState.Players.First(x => x.PlayerNumber == CurrentPlayerId);
    }
}
