@using Homestead.Client.ViewModels
@using Homestead.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject LobbyVm Lobby

<div class="map">
    <div class=row gx-1 mb-1>
        @if(CurrentPlayerId == 1)
        {
        <button type="button">Start</button>
        }
    </div>
    <div class="row gx-1 mb-1">
        @foreach (var opponent in Opponents)
        {
            <div class="col">
                <PlayerHomestead Player="@opponent.Player" />
            </div>
        }
    </div>

    <div class="col">
        <PlayerHomestead Player="CurrentPlayer.Player" />
    </div>
</div>

<PlayerHand HandList="@CurrentPlayer.Hand" />


@code {
    //[CascadingParameter]
    public int CurrentPlayerId { get; set; } = 1; // TODO: Fix this

    private HubConnection? hubConnection;

    private BoardVm GameState => Lobby.Board!;

    public List<PlayerVm> Opponents { get => GameState.OtherPlayers; }
    public PlayerVm CurrentPlayer { get =>GameState.LocalPlayer; }

    protected override async Task OnInitializedAsync()
    {
        //get current player hand information
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/comms"))
            .Build();

        hubConnection.On<Game>("ActionRecieved", (state) =>
        {
            GameState = state;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        GetCurrentPlayerHand();
        await base.OnInitializedAsync();
    }   

    public void GetCurrentPlayerHand()
    {
        CurrentPlayer = GameState.Players.First(x => x.PlayerNumber == CurrentPlayerId);
    }
}
