@using Homestead.Client.ViewModels
@using Homestead.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject HubConnection hubConnection
@inject ILobbyVm Lobby
@implements IDisposable

<div class="map">
    <div class="row gx-1 mb-1">
        @foreach (var opponent in Opponents)
        {
            <div class="col">
                <PlayerHomestead Player="@opponent" />
            </div>
        }
    </div>
    <div class=row gx-1 mb-1>
        @if(IsOwnerOfGame)
        {
        <button type="button">Start</button>
        }
    </div>

    <div class="col">
        <PlayerHomestead Player="CurrentPlayer" />
    </div>
</div>

<PlayerHand HandList="@CurrentPlayer.Hand" />


@code {
    //[CascadingParameter]
    public bool IsOwnerOfGame => CurrentPlayer.PlayerNumber == 1;

    private BoardVm Board => Lobby.Board!;

    public List<PlayerVm> Opponents { get => Board.OtherPlayers; }
    public PlayerVm CurrentPlayer { get =>Board.LocalPlayer; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Game Board Component");
        hubConnection.On<Game>("ActionReceived", (state) =>
        {
            Board.Update(state);
            StateHasChanged();
        });

        await base.OnInitializedAsync();
    }   
        public void Dispose()
    {
        hubConnection.Remove("ActionReceived");
    }
}
