@page "/instructions"

<html>
<head>
    <title class="pinewood">Instructions</title>
        <style>
            h1 {
                color: rgba(0, 140, 255, 0.767)
            }
            h3 {
                color: forestgreen
            }
        </style>
</head>

<body>
    <h1 class="pinewood">Homestead Rules</h1>
    <h2>Objective: Be the first player to create a homestead by collecting the required resources and tool cards. *Beware: Not all cards are helpful.</h2>
    <h3>Game Turn Directions:</h3>
    <ol>
        <li>First player draws a card from the top of the deck.</li>
        <li>Follow the directions indicated on the card.</li>
        <li>Play, keep, or discard card just drawn from top of the deck.</li>
        <li>Turn ends.</li>
        <li>Next player draws and repeats steps 1-4.</li>
    </ol>
    <h3>Materials Required:</h3>
    <ul>
        <li>Player acquires materials by drawing game cards.</li>
        <li>To create a shelter: wood, saw, and hammer.</li>
        <li>To create a garden: well, seed, and shovel.</li>
        <li>A shelter and garden combined makes a Homestead!</li>
    </ul>
    <h3><strong>First player to create a shelter with heat, water, livestock, and a garden wins!</strong></h3>
    <p class="pinewood">Created by Xander Hodge</p>
</body>
</html>



@code {

}
