@using Homestead.Client.ViewModels
@using Homestead.Shared
@inject LobbyVm Lobby;


<div class="hand-card  @(Card.IsPlayable ? "selected" : "")" @onclick="click">
   <div class="card-image" style="background-image: url(@Card.ImageUrl)">
   </div>
   <div class="card-text">
       @(Card.CardInfo.Name)
   </div>
</div>
@code {
    [Parameter]
    public CardVm Card { get; set; } = null!;

    private void click()
    {
        Lobby.Board.Click(Card);
    }
}
