@using Homestead.Shared
<div class="hand-card  @(Selected ? "selected" : "")" @onclick="click">
   <div class="card-image" style="background-image: url(@Card.ImageUrl)">
   </div>
   <div class="card-text">
       @(Card.Name)
   </div>
</div>
@code {
    [Parameter]
    public CardInfo Card { get; set; } = null!;

    private bool Selected = false;

    private void click()
    {
        Selected = !Selected;
    }
}
