<div>
    <!-- Visuals -->
    <div class="container">
        <div class="row">
            <!-- House -->
            <div class="home col-1">
                <img height="200" src="/Assets/Images/house/house@(BoardFarm.Count).png" />
            </div>
            <!-- Player -->
            <div class="player col-1">
                <img style="margin-top: 150px" height="70" src="/Assets/Images/player/p3-fw-single.png" />
            </div>
            <!-- Garden -->
            <div class="garden col-12 col-md-1">
                <img height="200" src="/Assets/Images/garden/garden@(BoardFarm.Count).png" />
            </div>
        </div>
    </div>
    <!-- Card Slots -->
    <div>
        <div class="container">
            <!-- House Cards -->
            <div class="row gx-0">
                <div class="col-1" style="height: 150px">
                    <PlayerCard />
                </div>
                <div class="col-1">
                    <PlayerCard />
                </div>
                <div class="col-1">
                    <PlayerCard />
                </div>
            </div>

            <!-- Farm Cards -->
            <div class="row gx-0">
                <div class="col-1" style="height: 150px">
                    <PlayerCard />
                </div>
                <div class="col-1">
                    <PlayerCard />
                </div>
                <div class="col-1">
                    <PlayerCard />
                </div>
                <!-- Livestock Cards -->
                <div class="col-1">
                    <PlayerCard />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<string> BoardLivestock { get; } = new List<string>();
    public List<string> BoardFarm { get; } = new List<string>();
    public List<string> BoardHouse { get; } = new List<string>();

    protected override void OnInitialized()
    {
        BoardHouse.Add("1");
        BoardFarm.Add("1");
    }
}
