@using Homestead.Shared
<div class="hand-card">
   <div class="card-image" style="background-image: url(@Card.ImageUrl)">
   </div>
   <div class="card-text">
       @(Card.Name)
   </div>
</div>
@code {
    [Parameter]
    public CardInfo Card { get; set; } = null!;

    //[Parameter]
    //public string CardText { get; set; } = string.Empty;
}
