@using Homestead.Client.ViewModels
@using Homestead.Shared;

@foreach (var card in HandList)
{
    <div class="player-hand-card">
        <div class="hand-card">
            <PlayerCard Card="@card" />
        </div>
    </div>
}
@code {
    [Parameter]
    public List<PlayerCardVm> HandList { get; set; } = new();

}
