@using Homestead.Shared;

<div>
    <!-- Visuals -->
    <div class="container">
        <div class="row">
            <!-- House -->
            <div class="home col-1">
                <img height="200" src="/Assets/Images/house/house@(BoardGarden.Count).png" />
            </div>
            <!-- Player -->
            <div class="player col-1">
                <img style="margin-top: 150px" height="70" src="/Assets/Images/player/p3-fw-single.png" />
            </div>
            <!-- Garden -->
            <div class="garden col-12 col-md-1 mt-5">
                <img height="200" src="/Assets/Images/garden/garden@(BoardGarden.Count).png" />
            </div>
        </div>
    </div>
    <!-- Card Slots -->
    <div class="container">
        <div class="container">
            <!-- House Cards -->
            <div class="row gx-1 mb-1">
                @foreach (var card in BoardHouse)
                {
                    <div class="col-1" style="height: 100px">
                        <PlayerCard Image="@card.ImageUrl"/>
                    </div>
                }
            </div>

            <!-- Farm Cards -->
            <div class="row gx-1">
                @foreach (var card in BoardGarden)
                {
                    <div class="col-1" style="height: 100px">
                        <PlayerCard Image="@card.ImageUrl"/>
                    </div>
                }
                <!-- Livestock Cards -->
                @foreach (var card in BoardLivestock)
                {
                    <div class="col-1" style="height: 100px">
                        <PlayerCard Image="@card.ImageUrl"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Player Player { get; set; } = new();

    public List<CardInfo> BoardLivestock { get => Player.Hand.Select(x => Cards.GetCardInfo(x)).Where(x => x.Suit == CardInfo.CardSuit.LiveStock).ToList(); }
    public List<CardInfo> BoardGarden { get => Player.Hand.Select(x => Cards.GetCardInfo(x)).Where(x => x.Suit == CardInfo.CardSuit.Garden).ToList(); } 
    public List<CardInfo> BoardHouse { get => Player.Hand.Select(x => Cards.GetCardInfo(x)).Where(x => x.Suit == CardInfo.CardSuit.House).ToList(); } 

    protected override void OnInitialized()
    {
       
    }

  
}
