@using Homestead.Client.ViewModels
@using Homestead.Shared
@inject LobbyVm Lobby;


<div class="hand-card  @(Card.IsPlayable || Card.IsDiscardable ? "selected" : "")" @onclick="click">
   <div class="card-image" style="background-image: url(@Card.ImageUrl); margin: auto;">
   </div>
   <div class="card-text">
       @(Card.CardInfo.Name)
   </div>
</div>
@code {
    [Parameter]
    public PlayerCardVm Card { get; set; } = null!;

    private void click()
    {
        if (Card.IsPlayable) Lobby.Board.Play(Card);
        if (Card.IsDiscardable) Lobby.Board.Discard(Card);
    }
}
