@using Homestead.Client.ViewModels
@using Homestead.Shared;

<div class="player-hand">
    @foreach (var card in HandList)
    {
       <PlayerCard Card="@card"/>      
    }

</div>
@code {
    [Parameter]
    public List<CardVm> HandList { get; set; } = new();

}
