@using Homestead.Client.ViewModels
@using Homestead.Shared;

<div class="player-hand">
    @foreach (var card in CardInfoList)
    {
       <PlayerCard Card="@card"/>      
    }

</div>
@code {
    [Parameter]
    public List<CardVm> HandList { get; set; } = new();

    public List<CardInfo> CardInfoList { get => HandList.Select(x => x.CardInfo).ToList(); } 
}
