<div>
    <!-- Visuals -->
    <div class="container">
        <div class="row">
            <!-- House -->
            <div class="home col-1">
                <img height="200" src="/Assets/Images/house/house3.png" />
            </div>
            <!-- Player -->
            <div class="player col-1">
                <img style="margin-top: 150px" height="70" src="/Assets/Images/player/p3-fw-single.png" />
            </div>
            <!-- Garden -->
            <div class="garden col-12 col-md-1">
                <img height="200" src="/Assets/Images/garden/garden3.png" />
            </div>
        </div>
    </div>
    <!-- Card Slots -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
