<div class="hand-card">
   <div class="card-image">
       <img src="@Image" alt="card-image"/>
   </div>
   <div class="card-text">
       
   </div>
</div>
@code {
    [Parameter]
    public string Image { get; set; } = string.Empty;

    //[Parameter]
    //public string CardText { get; set; } = string.Empty;
}
