@using Homestead.Client.ViewModels
@using Homestead.Shared;

<div class="player-hand">
    @foreach (var card in HandList)
    {
        <div style="width:250px; height: 120px;">
            <PlayerCard Card="@card" />
        </div>
    }

</div>
@code {
    [Parameter]
    public List<PlayerCardVm> HandList { get; set; } = new();

}
