.map {
    background-image: url("C:\\Users\MegWoodford\\source\\repos\\Hackathon2022Homestead\\Homestead\\Client\\Assets\\Images\\map.png");
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
