# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore Homestead
    - name: Build
      run: dotnet build Homestead --no-restore
    - name: Test
      run: dotnet test Homestead --no-build --verbosity normal
    - name: Publish
      run: dotnet publish Homestead/Server/Homestead.Server.csproj -c Release -o website
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: website
        path: website/**
        if-no-files-found: error  
      
  deploy:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: website
        path: website
    - name: Deploy to Azure
      uses: azure/webapps-deploy@v3
      with:
        app-name: HomesteadGame
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}
        package: website
      